.App {
  margin: auto;
  max-width: 800px;
  padding: 2em;
}

.heading{
  min-height: 3em;
  border: solid;
  border-radius: .2em;
  border-width: thin;
  padding: 2em;
  background-color: #a9a9a957;
}

.heading img{
  width: 100px;
}
